body{
    /*значения по дефолту для всей страницы*/
    background-color: #EFEFF2;
    margin: 0;
    color: #19191c;
    font: 400 18px/28px Inter, sans-serif;
}

.container{
    width: 1448px;
    margin: 0 auto;
}

/*Настройки для header*/
.header{
    display: flex;
    padding: 36px 0 0;/*внутрений оцтуп*/
    justify-content: space-between;/*выравнивание по все шерене блока*/
}

.header__box{
    display: flex;
    align-items: center;
    gap: 68px;
}

.nav__list{
    display: flex;
    list-style: none;/*отключаем точки в списке*/
    gap: 48px;/*оцтупы между элементами*/
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;/*жирность шрифта*/
}

.link{
    color: #19191c;
    text-decoration: none;
}

.btn-box{
    display: flex;
    gap: 48px;
    align-items: center;
}

.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;/*выравниваем эл. ты поцентрам*/
    gap: 14px;
    color: #19191c;/*цвет текста*/
    text-decoration: none;/*отключаем подчеркивание текста*/
}

.header__link{
    color: #19191c;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
}

.header__btn{
    background-color: #19191c;/*фон кнопки (блока)*/
    color: #EFEFF2;
    padding: 12px 37px;/*внутрение отступы в блоке*/
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

/*Настройки для offer*/
.offer{
    display: flex;
    justify-content: space-between;/*такой тип, что бы блоки прежимались к кроям*/
    align-items: flex-start;
    background: url(../img/gitl.png) 132% 100% no-repeat;
    margin-top: 168px;
}

.offer__holder{
    width: 648px;/*задаем ширину блока*/
    background: url(../img/Ellipse_20.png) 100% 100% no-repeat;
}

.pre_offer__title{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #504DEE;/*цвет линии подчеркивания*/
    text-decoration-thickness: 4px;/*толшина линии подчеркивания*/
    text-underline-offset: 8px;/*отступ от текста до линии подчеркивания*/
    margin: 0 0 40px 0;
}

.offer__title{
    font-size: 58px;
    line-height: 78px;
    font-weight: 700;
    margin-top: 2px;
    padding: 0;
}

.offers_small-title{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
}

.offer__description{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    width: 648px;
    margin-top: 48px;
}

/*кнопка*/
.button{
    width: 141px;
    height: 54px;
    padding: 16px 37px 16px 37px;
    background-color: #504DEE;/**цвет фона в кнопке*/
    width: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFC;/*цвет текста в кнопке*/
    border: none; /*убераем тень у кнопки*/
    margin-top: 50px;
}

.offer__sale{
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    margin-top: 110px;
    margin-bottom: 0;
}

.offer__time{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 8px;
}

/*список*/
.offer__list{
    /*align-self: flex-end;*/
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    position: relative;
}

.offer__item{
    position: absolute;
    border:  2px solid #19191c;
    padding: 16px 36px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.offer__InVision{
    top: 66px;
    left: 660px;
}

.offer__ProtoPie{
    top: 0px;
    left: 433px;
}

.offer__Miro{
    top: 74px;
    left: 204px;
}

.offer__Photoshop{
    top: 256px;
    left: 168px;
}

.offer__Figma{
    top: 393px;
    left: 0px;
}

.offer__Illustrator{
    top: 570px;
    left: 36px;
}

/*profession container*/
.profession__text{
    display: flex;
    justify-content: space-between;
}

.profession__title{
    width: 588px;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #19191C;
    margin-top: 168px;
}

.profession__description{
    width: 588px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #6D6D77;
    margin-top: 28px;
}

/**/
.profession__counters-number{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #19191C;
}

.profession__counters-descript1{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #19191C;
}

.rofession__counters-lines{
    height: 4px;
    background-color: #19191C;
}

.profession__counters-descript2{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #6D6D77;
    margin-top: 18px;
}

.box_text1{
    display: flex;
    justify-content: space-between;
}

.box_text2{
    width: 354px;
}

.box_text3{
    width: 254px;
}

/*profession__cards*/
.profession__cards-item{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 168px;
}
.profession__cards-title{
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    color: #19191C;
}

.profession__cards-descript{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #19191C;
}

/*profession__cards-item*/
.green_card{
    width: 467px;
    height: 329px;
    background-color: #DEEFE4;
    padding: 48px 68px;
}

.ellow_card{
    width: 467px;
    height: 329px;
    background-color: #F3F3D7;
    padding: 48px 68px;
}

.pink_card{
    width: 467px;
    height: 329px;
    background-color: #EFDEEE;
    padding: 48px 68px;
}

/*discover*/
.discover__title{
    font-size: 58px;
    font-weight: 700;
    line-height: 71px;
    margin-top: 171px;
}

.discover__cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 168px;
}

.discover_card-title{
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 47px;
}

.discover_card-list-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    list-style-type: square;
    margin-top: 22px;
}

.discover_card-prays-year{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: #6D6D77;
    margin-top: 164px;
}

.discover_card-prays-mouns{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #19191C;
    margin-top: 3px;
}

.discover_card-button{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: #FBFBFC;
    background-color: #19191C;
    padding: 16px 36px;
    border: none;
    margin-bottom: 51px;
}

.gre_card{
    width: 467px;
    height: 732px;
    background-color: #DEEFE4;
    padding: 64px 48px;
}
.purpur_card{
    width: 467px;
    height: 732px;
    background-color: #504DEE;
    padding: 64px 48px;
}

.purpur_card-text-li{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #FBFBFC;
}

.purpur_card-text-payyr{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: #6D6D77;
    margin-top: 164px;
}

.purpur_card-text-paymons{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #FBFBFC;
    margin-top: 3px;
}

/*footer*/
.footer{
    background-color: #19191C;
}

.footer_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;/*выравниваем эл. ты поцентрам*/
    margin-top: 48px;
    color: #FBFBFC;/*цвет текста*/
    text-decoration: none;/*отключаем подчеркивание текста*/
}

.f_logo-text{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #FBFBFC;
    text-decoration: none;
    margin-top: 48px;
    margin-bottom: 28px;
}

.sitemap__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #FBFBFC;
}

.sitemap__list{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #EFEFF2;
    text-decoration: none;
    list-style: none;
    gap: 12px;
}

.copyright{
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
}